body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  /* font-size: 1.6rem; */
}

body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(244, 244, 244); */
  /* background-color: #0F0F0F;
  color: #636365; */
  /* color: #333; */
}

small {
  font-size: 1.2rem;
}

.body--contaner {
  /* position: absolute; */
  width: 100%;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-bottom: 0.15rem solid #636365;
  padding: 0rem 3rem;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
}

.logo {
  max-width: 12%;
}

.navigation ul {
  display: flex;
  /* align-items: center; */
  gap: 2rem;
  list-style: none;
}

.nav--link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav--link:hover {
  transform: scale(1.1);
}

/* .nav--link:focus {
  color: #FFFFFF;
} */

.navigation--title {
  font-size: 2rem;
}

.icon:hover {
  fill: rgba(173, 36, 27, 1);

}

/* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm4.5-14.5L10 10l-2.5 6.5L14 14l2.5-6.5zM12 13a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" fill="rgba(173,36,27,1)"/></svg> */

/* .title {
  font-size: 4.4rem;
  text-align: center
} */

/* .form {
  display: grid;
} */

/* .label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
} */

.input {
  width: 100%;
  /* min-width: 60%; */
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  /* background-color: #0F0F0F; */
  border-radius: 20px;
  border: 1px solid #222222;
  /* color: #868485; */
  /* border: 1px solid #ddd; */
  margin-bottom: 1rem;
}

.input:focus {
  border: none;
}

@media (min-width:786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.card {
  position: relative;
  /* display: flex;
  align-items: flex-start; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center;
  justify-content: space-between; */
  padding: 2rem 2rem;
  border-radius: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  /* margin-bottom: 2rem; */
  /* background-color: #161616; */
}

.card--new {
  position: absolute;
  width: 7rem;
  bottom: 85%;
}

.card--content {
  text-align: center;
  padding-bottom: 0;
}

.card--title {
  /* color: #C8C8C8; */
  margin-top: 0.8rem;
  font-size: 2rem;
}

.card--image {
  width: 80%;
  height: 60%;
  /* margin-right: 2rem; */
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  /* margin: 0 auto;
  display: block */
}

.card--release {
  text-align: left;
}

.card--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--info {
  display: flex;
  align-items: center;
}

.card--rating i {
  margin-top: 0.1rem;
  margin-right: 0.3rem;
}

.hidden {
  visibility: hidden;
}

.favorite {
  cursor: pointer;
}

.watch--item {
  display: flex;
  /* background-color: #161616;
  color: #C8C8C8; */
  padding: 2rem 4rem;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  cursor: pointer;
}

.watch--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.watch--title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
}

.watch--image {
  border-radius: 20px;
  margin: 0 auto;
  margin-right: 2rem;
  display: block
}

.watch--desc {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.watch--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.watch--rating {
  display: flex;
  align-items: center;
}

.watch--rating i {
  margin-right: 0.3rem;
}

.bit-icon:hover {
  transform: scale(1.1);
}

.watch--empty {
  font-size: 2rem;
  text-align: center;
  /* color: #C8C8C8; */
}

.watch--link {
  text-decoration: none;
  color: inherit;
}

.watch--link:hover {
  /* transform: scale(1.1); */
  color: #AD241B;
}

.switch {
  margin-left: 1.5rem;
  /* height: 100px; */
  /* position: fixed; */
  /* right: 70px;
  top: 50px; */
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #AD241B;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: #2b2b2b;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* theme styles */

.dark {
  background-color: #0F0F0F;
  color: #636365;
}

.dark--card {
  background-color: #161616;
  color: #C8C8C8
}

.dark:focus {
  color: #C8C8C8;
}



.light {
  background-color: rgb(244, 244, 244);
  color: #333;
}

.light--card {
  background-color: white;
  color: #0F0F0F;
}

.light:focus {
  color: #000000;
}

/* :root {
  --main-bg-color: brown;
  --dark-main-bg-color: #0F0F0F;
  --dark-main-color: #636365;
} */