body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  /* font-size: 1.6rem; */
}

body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(244, 244, 244); */
  background-color: #0F0F0F;
  color: #636365;
  /* color: #333; */
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.15rem solid #636365;
  padding: 0rem 3rem;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
}

.logo {
  max-width: 12%;
}

.navigation ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav--link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav--link:hover {
  transform: scale(1.1);
}

.navigation--title {
  font-size: 2rem;
}

/* .title {
  font-size: 4.4rem;
  text-align: center
} */

/* .form {
  display: grid;
} */

/* .label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
} */

.input {
  width: 100%;
  /* min-width: 60%; */
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  background-color: #0F0F0F;
  border-radius: 20px;
  border: 1px solid #222222;
  color: #868485;
  /* border: 1px solid #ddd; */
  margin-bottom: 1rem;
}

.input:focus {
  border: none;
}

/* .button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
} */

/* .button:hover {
  background-color: rgba(0, 0, 0, 0.85);
} */

@media (min-width:786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.card {
  /* display: flex;
  align-items: flex-start; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center;
  justify-content: space-between; */
  padding: 2rem 2rem;
  border-radius: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  /* margin-bottom: 2rem; */
  background-color: #161616;
}

.card--content {
  text-align: center;
  padding-bottom: 0;
}

/* .card--container {
  display: flex;
  align-items: center;
} */

/* .card--desc {
  color: #878485;
} */

.card--title {
  color: #C8C8C8;
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.card--image {
  width: 80%;
  height: 60%;
  /* margin-right: 2rem; */
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  /* margin: 0 auto;
  display: block */
}

.card--bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.hidden {
  visibility: hidden;
}

.favorite {
  cursor: pointer;
}